.container {
    text-align: center;
    margin-bottom: 4rem;
}

.heading {
    font-family: 'Anton', sans-serif;
    font-size: 3rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.heading.dark {
    color: white;
}

.heading.light {
    color: rgb(24, 24, 27);
}

.subtitle {
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 0.875rem;
}

.subtitleDark {
    color: rgb(113, 113, 122);
}

.subtitleLight {
    color: rgb(63, 63, 70);
}

.divider {
    width: 6rem;
    height: 0.5rem;
    background-color: #BB0D06;
    margin: 1.5rem auto 0;
    border-radius: 9999px;
}

@media (min-width: 768px) {
    .heading {
        font-size: 4.5rem;
    }
}